.shapka {
width:1050px;
height:150px;
background-color: #db7093;
}

.shl {width:800px;
border-right:2px solid;
height:110px;
font-size:50px;
color:#1f4037;
text-align: center;
padding-top:40px; 
float:left;
}

.shr {width:200px;
height:110px;
float:left;
margin-top:20px; 
padding-left:20px;
}

.shr1 {width:200px;
height:110px;
float:left;
padding-top:40px; 
padding-left:20px;
}

a#r {color:#333333;
font-size:20px;
}

.t1{color:#333333;
font-size:20px;
}

.osn{
padding-left:160px;
}

.predmet{
float:left;
padding-top:40px;
padding-left:10px;
background-image: url(img/1.png);
height:660px;
width:240px;
}

.zag1{
text-align: center;
font-size:30px;
color:#2f4f4f;
margin-bottom:20px;
}

.telo {
padding-top:40px;
float:left;
height:660px;
width:800px;
}

li {text-align:left}

.tel{
width:1050px;
}

.t{
text-align: center;
height:660px;
width:800px;
}

.t li {
color:#db7093;
}

.ris div{
height:60px;
width:500px;
background-image:url('img/4.png');
text-align: center;
margin-top:5px;
margin-left:70px;
padding-top:20px;
}

.ris {
color:#333333;
font-size:30px;
text-decoration:none;

}

.telo1 {
padding-top:40px;
padding-left:40px;
float:left; 
height:660px;
width:485px;
}

.tt{
text-align:left;
width:1050px;
height:150px;
}

.zag2{
text-align:left;
font-size:22px;
color:#2f4f4f;
margin-bottom:20px;
}

.telo1 a{
color:#333333;
font-size:18px;
text-decoration:none;
}